<div class = 'main_header'>

  <div class = 'current_room'>
    <a  href='#'>Room Name</a>
  </div>

  <div class = 'end_room'>
    <a  href='#'>'チャットを終了する'</a>
  </div>

</div>

<div class = 'messages'>
  <div class = 'message'>
    <div class = 'chat_title'>
      <div class = 'chat_user'>
        <a href='#'>Chat User</a>
      </div>
    
      <div class = 'chat_date'>
        <a href='#'>Chat date</a>
      </div>
    </div>
    <div class = 'chat_text'>
        <a href='#'>Chat text</a>
    </div>
  </div>

  <div class = 'message'>
    <div class = 'chat_title'>
      <div class = 'chat_user'>
        <a href='#'>Chat User2</a>
      </div>
    
      <div class = 'chat_date'>
        <a href='#'>Chat date2</a>
      </div>
    </div>
    <div class = 'chat_text'>
        <a href='#'>Chat text2</a>
    </div>
  </div>

</div>


<div class = 'chat_form'>
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>

