<div class = 'message'>

  <div class = 'chat_title'>
    <div class = 'chat_user'>
      <%= message.user.name %>
    </div>
    
    <div class = 'chat_date'>
      <%= l message.created_at %>
    </div>
  </div>

  <div class = 'chat_text'>
      <%= message.content %>
  </div>

</div>
