<div class = 'side_header'>
  <div class = 'user_name'>
    <a  href='#'>User Name</a>
  </div>
  <div class = 'create_room'>
    <a  href='#'>'チャットを作成する'</a>
  </div>
</div>

<div class = 'room_list'>
  <div class = 'room'>
    <div class = 'room_name'>
      <a href ='#'>Room Name2</a>
    </div>
  </div>
  <div class = 'room'>
    <div class = 'room_name'>
      <a href ='#'>Room Name2</a>
    </div>
  </div>
</div>

